* {
    background-color: black;
    font-family: 'Open Sans', 'Helvetica Neue';
    font-weight: 200;
    color: rgb(255, 255, 255);
    -webkit-font-smoothing: antialiased;
    padding: 5px;   
  }
  

  